body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #3366cc;
}
.search-info {
    font-size: 14px;
}
/* Basic styling for suggestions container */
.suggestions {
    position: absolute;
    display: none; /* Hide the suggestions container by default */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 100%; /* Position it just below the input field */
    left: 0;
}

/* Styling for each suggestion item */
.suggestions div {
    padding: 10px;
    cursor: pointer;
}

/* Hover effect for suggestion items */
.suggestions div:hover {
    background-color: #f0f0f0;
}

/* Highlighting the selected suggestion */
.suggestions .selected {
    background-color: #e0e0e0;
}

/* Ensure the suggestions container is not overlapped by other elements */
.search-field {
    position: relative;
}

.modify-search {
    background-color: #3366cc;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.banner {
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.banner-item {
    display: flex;
    align-items: center;
}
.banner-icon {
    font-size: 24px;
    margin-right: 10px;
}
.main-content {
    max-width: 900px;
    margin: 20px auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: white;
}
.flight-info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444;
    padding: 15px 0;
}
.flight-info:last-child {
    border-bottom: none;
}
.flight-logo {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flight-details {
    display: flex;
    align-items: center;
    width: 100%;
}
.flight-times, .flight-duration, .flight-type, .flight-emissions, .flight-price {
    text-align: center;
    flex-grow: 1;
}
.flight-times {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.flight-duration{
    display: flex;
    flex-direction: column;
}
.flight-duration, .flight-type, .flight-emissions {
    flex-grow: 1;
}
.flight-emissions {
    display: flex;
    flex-direction: column;
}
.flight-price {
    color: #28a745;
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
}
.flight-times span, .flight-emissions span {
    display: block;
}
