<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/flightsearch.css">
    <link rel="stylesheet" href="../styles/flightsearchNavbar.css">
    <title>Yatramitra</title>
</head>
<body>
    <nav>
        <form id = "searchForm">
            <div class="search-header">
                <div class="search-field">
                    <label for="trip-type">Trip</label>
                    <select id="trip-type">
                        <option>Round Trip</option>
                        <option>One Way</option>
                    </select>
                </div> 
                <div class="search-field">
                    <label for="from">From</label>
                    <input type="text" id="from" placeholder="" autocomplete="off">
                    <div id="suggestions" class="suggestions"></div>
                </div>
                <button class="swap-button">⇄</button>
                <div class="search-field">
                    <label for="to">To</label>
                    <input type="text" id="to" value="" />
                    <div id="suggestions2" class="suggestions"></div>
                    
                </div>
                <div class="search-field date-field">
                    <label for="depart-date">Departure Date</label>
                    <input type="date" id="depart-date" value="" />
                </div>
                <div class="search-field date-field">
                    <label for="return-date">Return Date</label>
                    <input type="date" id="return-date" value="" />
                </div>
                <button class="modify-button" type="submit">Modify Search</button>
            </div>
        </form>
    </nav>
    <div class="flight">
   
    </div>
    <div id="flight-results"></div>
    <script src = "../scripts/flightsearch.js"></script>
</body>
</html>
