<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Yatramitra - Your Travel Comrade</title>
    <link rel="stylesheet" href="styles/homepage.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav>
            <div class="nav-bar">
                <i class='bx bx-menu sidebarOpen'></i>
                <span class="logo navLogo"><a href="#">Yatramitra</a></span>
    
                <div class="menu">
                    <div class="logo-toggle">
                        <span class="logo"><a href="#">Yatramitra</a></span>
                        <i class='bx bx-x siderbarClose'></i>
                    </div>
    
                    <ul class="nav-links">
                        <li><a href="#"><span>Home</span></a></li>
                        <li><a href="#"><span>About</span></a></li>
                        <li><a href="#"><span>Services</span></a></li>
                        <li><a href="#"><span>Contact</span></a></li>
                    </ul>
                </div>
    
                <div class="darkLight-searchBox">
                    <div class="dark-light">
                        <i class='bx bx-moon moon'></i>
                        <i class='bx bx-sun sun'></i>
                    </div>
                    
                        <button class="loginButton" type="submit" ><a>Login</a></button>
                    
    
                    
                </div>
            </div>
        </nav>
    </header>
    



       <main>
        <div class="hero-section">
            <div class="hero-title"><h1>Welcome to Yatramitra</h1></div>
            <div class="hero-text"><p>Your travel companion</p></div>
        </div>
        
        <div class="search-part">
            <div class="form-outer">
                <div class="form-top">
                    
                    <div>
                    <label for="one-way-trip">One Way</label>
                    <input type="radio" name="trip" id="one-way-trip" checked>
                    </div>
                    <div>
                        <label for="round-trip">Round Trip</label>
                        <input type="radio" name="trip" id="round-trip" >
                        </div>
                 </div>
              
                <div class="booking-form" action="/search" method="POST">
                    
                    <div class="form-section">
                        <label for="from">From</label>
                        <div class="input-container">
                            <input type="text" id="from" name="from" placeholder="Starting point" value="">
                        </div>
                    </div>
                    <div class="form-section">
                        <label for="to">To</label>
                        <div class="input-container">
                            <input type="text" id="to" name="to" placeholder="Ending point" value="">
                        </div>
                    </div>
                    <div class="form-section">
                        <label for="departure-date">Departure Date</label>
                        <div class="input-container">
                            <input type="date" id="departure-date" name="departure-date" value="dd-mm-yyyy">
                        </div>
                    </div>
                    <div class="form-section" id="arrival-div">
                        <label for="arrival-date">Arrival Date</label>
                        <div class="input-container">
                            
                            <!-- <input type="date" id="arrival-date" name="arrival-date" value="dd-mm-yyyy"> -->
                            <input type="text" name="arrival-date" id="arrival-date" value="SELECT ROUND TRIP" disabled>
                        </div>
                    </div>
                
                    
                    
                    <button type="submit">Search Journey</button>
                </div>
    
            </div>





        </div>





    </main>
<script src="../scripts/homepage.js"></script>
<script src="../scripts/navbar.js"></script> 
</body>
</html>