<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="../assets/FrontImg.png" alt="">
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form id="loginForm">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" id="loginEmail" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" id="loginPass" placeholder="Enter your password" required>
              </div>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" id="loginButton" value="Login">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Register now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Register</div>
        <form id="registerForm">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" id="name" name="name" placeholder="Enter your name"  title="Only letters are allowed" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" id="regEmail" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-sort-numeric-down"></i>
                <input type="number" id="regNumber" placeholder="Enter your number" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" id="regPass" placeholder="Enter your password" required>
              </div><div>
              <div class="progress">
                <div id="password-strength-bar" class="progress-bar"></div>
              </div>
            </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" id="confirmPass" placeholder="Re-enter your password" required>
              </div>
              <div class="button input-box">
                <input type="submit" id="registerButton" value="Register">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
  <script src="../scripts/login.js">
  </script>
</body>
</html>